@import '../../vars.scss';

$product-height:        27vw;

.catalog {

    .product {
        align-items:    center;
        border-radius:  5px;
        box-sizing:     border-box;
        display:        flex;
        height:         $product-height;
        margin:         0 1% 3%;
        max-height:     400px;
        overflow:       hidden;
        position:       relative;
        text-align:     center;
        width:          18%;

        @media (max-width: $vp-tablet){
            height: 40vw;
            width:  30%;
        }
        @media (max-width: $vp-mobile){
            height: 80vw;
            width:  60%;
        }

        .product__title {
            align-items:    center;
            background:     $product__title-bgColor;
            background:     linear-gradient(164deg, $product__title-bgColor 52%, #171515 52%);
            color:          $product__title-color;
            display:        flex;
            justify-content: center;
            opacity:        0;
            padding:        15px 0;
            position:       relative;
            transition:     opacity $animation-speed;
            width:          100%;
            z-index:        1;
        }
        .product__imgArea {
            background-size: cover;
            position:       absolute;
            top:    0;
            bottom: 0;
            width:  100%;
            margin: 0;
            transition: opacity $animation-speed;
            z-index: 0;
        }
        &:hover {
            .product__title {
                opacity: 1;
            }
            .product__imgArea {
                opacity: 0.5;
            }
        }
    }
}
