@import '../../vars.scss';

.catalog {
	align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin:  9vh auto 0;
    padding: 0 0 50px;
}